<head>
    <style>
        .container{
            width: 500px;   
            display: flex;
        }
        .input{
            margin-right: 10px;
            width: 100px;
        }
        
        .input-2{
            width: 100px;
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <input class="input" placeholder="one">
        <input class="input" placeholder="one">
        <input class="input" placeholder="one">
        <input class="input2" placeholder="one">
    </div>
</body>
