@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen bg-gwBackground max-w-full;
}
/*
@font-face {
  font-family: "Parabole";
  src: url("/fonts/Parabole-Regular.woff2") format("woff2"),
    url("/fonts/Parabole-Regular.woff") format("woff"),
    url("/fonts/Parabole-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/

@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Gothic";
  src: url("/fonts/LeagueGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .capitalize-first:first-letter {
    text-transform: uppercase;
  }
}

@layer components {
  .link {
    @apply underline cursor-pointer font-semibold;
  }

  .border-1 {
    border-width: 1px;
  }

  .prose a {
    color: inherit;
  }

  .prose a:hover {
    color: inherit;
  }

  .button {
    @apply cursor-pointer inline-block px-2 py-1 border-2 border-lightGrey hover:bg-white transition duration-75 mt-2;
  }

  .content-wrapper {
    @apply mx-auto px-4 lg:px-5 xl:px-7;
  }

  .filter-item {
    @apply inline-block mr-2 mb-2 text-left;

    &:last-child {
      @apply mr-0 mb-0;
    }
  }

  .search-box {
    @apply inline-flex mr-2 mb-2 p-0;

    &:last-child {
      @apply mr-0 mb-0;
    }
  }

  .listbox-dropdown {
    @apply border-2 border-white overflow-y-auto rounded-lg rounded-tl-none bg-white absolute z-40 shadow-white;
    margin-top: -2px;
    max-height: 33vh;
    height: 400;
  }

  .glowable {
    @apply shadow-noglow transition duration-100;
  }

  .hover-blue:hover {
    color: #c6ccff;
  }

  .hover-blue-border {
    border: 2px solid white;
  }

  .hover-blue-border:hover {
    border: 2px solid #c6ccff;
  }

  .px-30px {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mx-30px {
    margin-left: 30px;
    margin-right: 30px;
  }

  .action-chart svg {
    @apply overflow-visible;
  }

  .country-popup .mapboxgl-popup-content {
    @apply shadow-hoverBlue rounded-lg p-0;
  }

  .nav-link {
    @apply font-normal transition-all duration-75 bg-transparent hover:bg-white hover:border-activeBlue border-solid border-1 inline-block px-3 -mx-2 md:-mx-1 py-2;
  }
}
