@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen bg-gwBackground max-w-full;
}
/*
@font-face {
  font-family: "Parabole";
  src: url("/fonts/Parabole-Regular.woff2") format("woff2"),
    url("/fonts/Parabole-Regular.woff") format("woff"),
    url("/fonts/Parabole-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/

@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Gothic";
  src: url("/fonts/LeagueGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .capitalize-first:first-letter {
    text-transform: uppercase;
  }
}

@layer components {
  .link {
    @apply underline cursor-pointer font-semibold;
  }

  .border-1 {
    border-width: 1px;
  }

  .prose a {
    color: inherit;
  }

  .prose a:hover {
    color: inherit;
  }

  .button {
    @apply cursor-pointer inline-block px-2 py-1 border-2 border-lightGrey hover:bg-white transition duration-75 mt-2;
  }

  .content-wrapper {
    @apply mx-auto px-4 lg:px-5 xl:px-7;
  }

  .filter-item {
    @apply inline-block mr-2 mb-2 text-left;

    &:last-child {
      @apply mr-0 mb-0;
    }
  }

  .search-box {
    @apply inline-flex mr-2 mb-2 p-0;

    &:last-child {
      @apply mr-0;
    }
  }

  .listbox-dropdown {
    @apply border-2 border-white overflow-y-auto rounded-lg rounded-tl-none bg-white absolute z-40 shadow-white;
    margin-top: -2px;
    max-height: 33vh;
    height: 400;
  }

  .glowable {
    @apply shadow-noglow transition duration-100;
  }

  .hover-blue:hover {
    color: #4b5ae7;
  }

  .blue-border {
    border: 2px solid #4b5ae7;
  }

  .hover-blue-border {
    border: 2px solid white;
  }

  .hover-blue-border:hover {
    border: 2px solid #4b5ae7;
  }

  .px-30px {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mx-30px {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mt-60px {
    margin-top: 60px;
  }

  .mb-60px {
    margin-bottom: 60px;
  }

  .max-w-6\/12 {
    max-width: 50%;
  }

  .left-1.5 {
    left: 0.375rem;
  }

  .top-30px {
    top: 30px;
  }

  .width-450px {
    width: 450px;
  }

  .left-minus-half {
    left: -200px;
  }

  .left-minus-75px {
    left: -75px;
  }

  .action-chart svg {
    @apply overflow-visible;
  }

  .square-and-transparent {
    border-radius: 0px !important;
    opacity: 0.7;
  }

  .country-popup .mapboxgl-popup-content {
    @apply blue-border p-0 square-and-transparent;
  }

  .mapboxgl-popup-tip {
    @apply hidden;
  }

  .tooltip-year {
    opacity: 1;
    background-color: white;
    color: black;
  }

  .nav-link {
    @apply font-normal transition-all duration-75 bg-transparent hover:text-hoverBlue hover:border-hoverBlue hover:border-solid border-1 border-white inline-block px-3 -mx-2 md:-mx-1 py-2;
  }
}

.visx-tooltip {
  box-shadow: none !important;
  padding: 0 !important;
}

.mapboxgl-canvas {
  width: 100% !important;
}
